<launch>

    <!--Lancer la node du controller-->
    <node name="joy" pkg="joy" type="joy_node" >
         <!-- <param name="dev" type="string" value="/dev/input/" /> -->
    </node>

    <!--Lancer la node de cinematiqe inverse-->
    <node name="master" pkg="rovus_bras" type="master_cpp" />

    <!--Lancer la communication avec l'arduino-->
    <node name="arduino" pkg="rosserial_arduino" type="serial_node.py">
        <!-- <param name="port" value="/dev/ttyACM0"/> -->
    </node>

    <!-- Lancer la node des graphiques-->   
    <!-- <node name="liveGraph3DView" pkg="rovus_bras" type="liveGraph3DView.py" />
    <node name="liveGraphAllViews" pkg="rovus_bras" type="liveGraphAllViews.py" /> -->

</launch>