<launch>

    <!--Lancer la node du controller-->
    <node name="joy" pkg="joy" type="joy_node" >
        <param name="dev" type="string" value="/dev/input/js0" />
    </node>

    <!--Lancer la node de cinematiqe inverse-->
    <node name="master" pkg="rovus_bras" type="master.py" />

    <!--Lancer la communication avec l'arduino-->
    <!--node name="arduino" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyUSB0"/>
    </node-->

    <!-- Lancer la node du HMI-->
    <node name="feedback" pkg="rovus_bras" type="feedback_node.py" />

</launch>