<launch>
    <arg name="serialPort" default="/dev/ttyACM0" />

    <!-- Lancer la node de cinematiqe inverse-->
    <node name="arm_master" pkg="rover_arm" type="master_cpp">
        <param name="a" value="0" />
        <param name="b" value="1" />
        <param name="x" value="2" />
        <param name="y" value="3" />
        <param name="rt" value="5" />
        <param name="lt" value="4" />

        <!-- Axes -->
        <param name="left_joystick_up_down" value="1" />
        <param name="left_joystick_left_right" value="0" />
        <param name="right_joystick_up_down" value="4" />
        <param name="right_joystick_left_right" value="3" />
        <param name="arrow_up_down" value="7" />
        <param name="arrow_left_right" value="6" />
    </node>
    <!-- buttons -->

    <!--Lancer
    la communication avec l'arduino-->
    <node name="arm_arduino" pkg="rosserial_arduino" type="serial_node.py">
        <param name="port" value="$(arg serialPort)" />
    </node>

    <!--Lancer
    le service de calcul en cartésien-->
    <node name="arm_diff_kinetics_calc_server" pkg="rover_arm" type="diff_kinetics_calc_server.py" />

    <!--Lancer
    le gui rqt-->
    <node name="arm_gui" pkg="rqt_gui" type="rqt_gui" respawn="true" output="screen" />

</launch>
