<launch>
    <arg name="serialPort" default="/dev/ttyACM0" />

    <!-- Master node -->
    <node name="arm_master" pkg="rover_arm" type="master_cpp" />

    <!--Lancer le service de calcul en cartésien-->
    <node name="arm_diff_kinetics_calc_server" pkg="rover_arm" type="diff_kinetics_calc_server.py" />
</launch>
